.contato-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contato {
  position: relative;
}

.contato,
.contato-lista a {
  background: black;
  font-size: 2rem;
  color: white;
}

.contato-lista li img {
  display: inline-block;
  place-self: center;
}

.contato-lista li a {
  display: flex;
  gap: 15px;
  align-items: center;
}

.footer-texto {
  font-size: 1.8rem;
  max-width: 60ch;
  line-height: 1.4;
  color: #a3a3a3;
}

.contato-lista li {
  font-weight: 700;
  margin-bottom: 30px;
}

.contato-lista li a:hover {
  color: violet;
}

.footer-direitos {
  font-size: 1.5rem;
  text-align: center;
  grid-column: 1 / -1;
}

.contato-container::before {
  content: '';
  display: block;
  width: 130px;
  height: 100px;
  background: url(../img/detalhe.svg) no-repeat center;
  position: absolute;
  top: -40px;
  left: 20px;
}

@media (max-width: 1200px) {
  .footer-texto {
    font-size: 1.5rem;
  }

  .contato,
  .contato-lista a {
    font-size: 1.5rem;
  }
}

@media (max-width: 800px) {
  .contato-container {
    grid-template-columns: 1fr;
  }

  .contato-container::before {
    display: none;
  }
}
